@media screen and (min-width: 400px) {
	body {
		background-color: #000;
		font-family: Helvetica;
		color: #00FF01;
	}

	h1,h2 {
		background-color: #014400;
		color: #99FF99;
		padding: 10px;
		border: solid 1px #00FF01;
		width:450px;
		margin-left: auto;
		margin-right: auto;
		text-align:center;
	}

	#webspaces {
		width: 540px;
		margin-left: auto;
		margin-right: auto;
	}

	.icon {
		width: 35px;
		height: 35px;
		margin-left: 15px;
	}

	nav {
		width: 500px;
		margin-left: auto;
		margin-right: auto;
		display: block;

	}

	nav ul {
		display: table;
		list-style-type:none;
		margin-left: 10px;
		table-layout: fixed;
		width: 80%;
		border-collapse: separate;
		border-spacing: 20px 5px;
	}

	nav li, nav li:hover, nav li:active {
		display: table-cell;
		text-align:center;
		border-radius: 10px;		
		border: solid 1px #007EFF;
		padding:10px;
		cursor: pointer;	
	}

	nav li, nav li:hover, nav li:active {
		background-color: #004B99;
		color: #CCE5FE;	
	}

	nav li:hover, nav li:active {
		background-color: #CCE5FE;
		color: #004B99;
	}

	#output_line {
		margin-top: 20px;
		font-size: 14px;
		text-align: left;
	}

/**** typed.js blinking cursor ****/
#typed-cursor {
  font-weight: 100;
  padding: 0 2px;
  -webkit-animation: blink 1s infinite;
  -moz-animation: blink 1s infinite;
  -ms-animation: blink 1s infinite;
  -o-animation: blink 1s infinite;
  animation: blink 1s infinite; }

@media screen and (max-width: 800px) {
  .head-text {
    padding: 50px 0 0;
    min-height: 180px;
    font-size: 1.75em; } }
@media screen and (max-width: 600px) {
  .head-text {
    padding: 30px 0 0;
    min-height: 150px;
    font-size: 1.5em; } }
@media screen and (max-width: 550px) {
  .head-text {
    padding: 20px 0 0;
    font-size: 1em;
    min-height: 110px;
    margin: 0 -100px; } }
@-webkit-keyframes blink {
  0% {
    opacity: 1; }

  50% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@-moz-keyframes blink {
  0% {
    opacity: 1; }

  50% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@-ms-keyframes blink {
  0% {
    opacity: 1; }

  50% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@-o-keyframes blink {
  0% {
    opacity: 1; }

  50% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@keyframes blink {
  0% {
    opacity: 1; }

  50% {
    opacity: 0; }

  100% {
    opacity: 1; } }
/**** end ****/

#gatekeeper {
	position: absolute;
	bottom: 5px;
	right: 10px;
	cursor: default;
}



}

/* {border: 1px solid #FFF;} */
	
